{% extends "base.html" %}

{% component home_page(section: map) %}
<main>
    <article>
        <section class="body">
            <div class="page-header" style="display: flex; align-items: center;">
                <img height="150px" src="/images/fishe-smol.png" />
                blub blub
            </div>
            {{ section.content | safe }}
        </section>
    </article>
</main>
{% endcomponent home_page %}

{% block main_content %}
    {{<home_page section={section} />}}
    {{<tiles tiles={
        [
            {
                "img": "images/tiles/hostedonstack.webp",
                "url": "https://fyrastack.com"
            },
            {
                "img": "images/tiles/jaiden.png",
                "url": "https://jaiden.sh"
            },
            {
                "img": "images/tiles/fyralabs.png",
                "url": "https://fyralabs.com"
            },
            {
                "img": "images/tiles/ultramarine.png",
                "url": "https://ultramarine-linux.org"
            },
            {
                "img": "images/tiles/terrapkg.png",
                "url": "https://terrapkg.com"
            },
            {
                "img": "images/tiles/firefox.gif",
                "url": "https://www.firefox.com"
            },
            {
                "img": "images/tiles/fedora.gif",
                "url": "https://fedoraproject.org"
            },
            {
                "img": "images/tiles/nixos.png",
                "url": "https://nixos.org"
            }
        ]
    }/>}}
{% endblock main_content %}

