{% extends "anatole-zola/templates/index.html" %} {% block footer %}
<div class="blog-ring" style="font-size: 1.5em">
    <strong> <a href="https://ring.umn.page/">blogring</a>: </strong>
    <a href="https://ring.umn.page/back?june.fish">⏪</a>
    <a href="https://ring.umn.page/random?june.fish">🔀</a>
    <a href="https://ring.umn.page/next?june.fish">⏩</a>
</div>
<span>Designed by </span><a href="https://www.caicai.me">CaiCai</a>
<div class="by_zola">
    <a href="https://www.getzola.org/" target="_blank"
        >Proudly published with Zola!</a
    >
</div>
{% endblock footer %}
