{% extends "anatole-zola/templates/index.html" %}

{% block content %}
<article class="post animated fadeInDown">
  <h1><a href="{{ section.permalink }}"> {{ trans(key="home", lang=lang) }} </a></h1>
  <div class="post-content">
    <strong> <a href="https://blogclub.org/">blogring</a>: </strong>
    <a href="https://blogclub.org/ring/?from=june.fish&to=prev">⏪</a>
    <a href="https://blogclub.org/ring/?from=june.fish&to=random">🔀</a>
    <a href="https://blogclub.org/ring/?from=june.fish&to=next">⏩</a>
  </div>
</article>
{% endblock content %}

{% block footer %}
<span>Designed by </span><a href="https://www.caicai.me">CaiCai</a>
<div class="by_zola">
    <a href="https://www.getzola.org/" target="_blank"
        >Proudly published with Zola!</a
    >
</div>
{% endblock footer %}
