{% extends "anatole-zola/templates/index.html" %} {% block footer %}
<div class="blog-ring" style="font-size: 1.5em">
    <strong> <a href="https://blogclub.org/">blogring</a>: </strong>
    <a href="https://blogclub.org/ring/?from=june.fish&to=prev">⏪</a>
    <a href="https://blogclub.org/ring/?from=june.fish&to=random">🔀</a>
    <a href="https://blogclub.org/ring/?from=june.fish&to=next">⏩</a>
</div>
<span>Designed by </span><a href="https://www.caicai.me">CaiCai</a>
<div class="by_zola">
    <a href="https://www.getzola.org/" target="_blank"
        >Proudly published with Zola!</a
    >
</div>
{% endblock footer %}
