<style>
  .blogring {
    text-align: center;
    margin-top: 2rem;
  }

  @media {
    body {
      flex-wrap: wrap;
      align-content: flex-start;
    }

    .blogring {
      flex: 1 0 100%;
    }
  }
</style>

<div class="blogring">
    <strong> <a href="https://blogclub.org/">blogring</a>: </strong>
    <a href="https://blogclub.org/ring/?from=june.fish&to=prev">⏪</a>
    <a href="https://blogclub.org/ring/?from=june.fish&to=random">🔀</a>
    <a href="https://blogclub.org/ring/?from=june.fish&to=next">⏩</a>
</div>
