<style>
  :root.light {
    --primary-color: #e4821f;
    --bg-0: #eee;
    --bg-1: #ddd;
    --bg-2: #ccc;
  }
  :root.dark{
    --primary-color: #e4821f;
    --bg-0: #111;
    --bg-1: #222;
    --bg-1: #333;
  }
  :root {
    @font-face {
      font-family: "Adwaita Sans";
      src:
        url("/fonts/AdwaitaSans-Italic.ttf");
        url("/fonts/AdwaitaSans-Regular.ttf");
    }
    @font-face {
      font-family: "Adwaita Mono";
      src:
        url("/fonts/AdwaitaMono-BoldItalic.ttf");
        url("/fonts/AdwaitaMono-Bold.ttf");
        url("/fonts/AdwaitaMono-Italic.ttf");
        url("/fonts/AdwaitaMono-Regular.ttf");
    };
    @font-face {
      font-family: "Liberation Sans";
      src:
        url("/fonts/LiberationSans-BoldItalic.ttf");
        url("/fonts/LiberationSans-Bold.ttf");
        url("/fonts/LiberationSans-Italic.ttf");
        url("/fonts/LiberationSans-Regular.ttf");
    };
    @font-face {
      font-family: "Liberation Serif";
      src:
        url("/fonts/LiberationSerif-BoldItalic.ttf");
        url("/fonts/LiberationSerif-Bold.ttf");
        url("/fonts/LiberationSerif-Italic.ttf");
        url("/fonts/LiberationSerif-Regular.ttf");
    };
    --text-font: "Adwaita Mono";
    --header-font: "Liberation Serif";
    --code-font: "Adwaita Mono";
    --mono-text-font: "Adwaita Mono";
  }
  nav {
    a {
      font-family: "Liberation Serif";
      --text-font: "Liberation Serif";
    };
  };
</style>
